In [1]:
import pandas as pd

In [2]:
df_codeshare = pd.read_csv('codeshare_log.csv')

In [3]:
df_codeshare

          ID          일자  코드 공유 수  댓글 수   조회 수  공유 수  다운로드 수  좋아요 수
0     ID_000  2019-12-09        6     0  34237    11       0     50
1     ID_000  2020-04-21       10     0  34568    11       0     50
2     ID_000  2020-07-16       11     0  42386    12      10     62
3     ID_000  2020-10-13       13     0  42394    12      10     62
4     ID_000  2021-09-10       14     1  42395    12      10     62
...      ...         ...      ...   ...    ...   ...     ...    ...
1799  ID_147  2023-11-11        6     6   7381     2     454     80
1800  ID_148  2023-10-26        1     0    449     0      39      0
1801  ID_148  2023-10-30        4     1   1099     0      49     23
1802  ID_148  2023-10-31        7     1   1576     0      57     41
1803  ID_148  2023-11-13        8     1   1577     0      57     41

[1804 rows x 8 columns]

In [6]:
df_codeshare.sort_values(by = '코드 공유 수', ascending = False)

          ID          일자  코드 공유 수  댓글 수    조회 수  공유 수  다운로드 수  좋아요 수
185   ID_014  2021-03-10      208   301  521471    94      28   2030
184   ID_014  2021-03-09      207   298  513562    85      23   2014
183   ID_014  2020-05-20      206   293  506612    80      21   2001
182   ID_014  2020-05-13      205   293  506611    80      21   2001
181   ID_014  2020-05-11      204   293  506593    80      21   2000
...      ...         ...      ...   ...     ...   ...     ...    ...
923   ID_067  2021-07-29        1     6    7403     1      24      7
1634  ID_128  2023-04-02        1     3    3165     1     196     10
1713  ID_138  2023-07-17        1     4    4506     0     372      8
980   ID_071  2021-08-30        1     1    6768     3      75      6
1483  ID_119  2022-12-09        1     0    3740     2     240     19

[1804 rows x 8 columns]

In [5]:
df_codeshare['코드 공유 수'].sort_values(ascending = False)

185     208
184     207
183     206
182     205
181     204
       ...
923       1
1634      1
1713      1
980       1
1483      1
Name: 코드 공유 수, Length: 1804, dtype: int64